/* a태그 데코레이션 없애기 시작 */
a:link {
  color : black;
  text-decoration: none;
}
a:visited {
  color : black;
  text-decoration: none;
}
a:hover {
  color : black;
  text-decoration: none;
}
a:active {
  color : black;
  text-decoration: none;
}
/* a태그 데코레이션 없애기 끝 */


*{
  margin:0;
  padding:0;
  font-family: -apple-system;
}

/* header */
div.header{
  width:100%;
  position:fixed;
  z-index:2;
  background-color: white;
}

@media screen and (max-width: 768px){
  div.header{
    width: 100%; 
    height: 67px; 
    position:fixed;
    overflow: hidden;
    flex-direction: column;
    background-color: white;
  }
}


div#header_box{
  height:112.5px;
}

@media screen and (max-width: 768px){
  div#header_box{
    height:67px;
  }
}




/* header > header_top */
div.header_top{
  display:flex;
  justify-content:flex-end;
  padding: 0 40px;
}
ul.header_top_list{
  margin-top:12px;
}
@media screen and (max-width: 768px){
  div.header_top{
    display:none;
  }
}
ul.header_top_list{
  width:270px;
  font-size:small;
}


/* header > header_main */

div#img_logo{
  width:120px;
  height:30px;
}
div#img_logo > a > img{
  width:100%;
  height:100%;
}
div.header_main{
  padding: 12px 40px;
}
@media screen and (max-width: 768px){
  div.header_main{
    padding: 12px 8px;
  }
}
ul.header_main_list{
  width:200px;
  display:flex;
  justify-content: space-between;
  font-size:medium;
  font-weight: bold;
  position:relative;
  top:10px;
}
ul.hidden_main_list{
  width:200px;
  display:none;
  position:relative;
  top:10px;
}
@media screen and (max-width: 768px){
  ul.header_main_list{
    display:none;
  }
  ul.hidden_main_list{
    display:flex;
    justify-content: flex-end;
    color:gray;
    font-size: large;
    
  }
  ul.hidden_main_list > li:nth-child(1){
    margin-right: 25px;
  }
}
@media screen and (max-width: 480px){
  ul.hidden_main_list > li:nth-child(1){
    margin-right: 16px;
  }
}

/* header > div.aside */

div#mask { 
  width: 100%; 
  height: 100%; 
  position: fixed; 
  top: 0; left: 0; 
  background: #000; 
  opacity: 0.6; 
  z-index: 3; 
  display: none; 
}
div#slide_menu { 
  width: 80%; 
  height: 100%; 
  background: #fff; 
  position: fixed; 
  top: 0; 
  right: 0; 
  z-index: 4; 
  display: none; 
  transform: translateX(-100%); 
  left:100%;
}
ul#menu_list{
  margin-top:40px;
  list-style: none;
  font-size: medium;
  font-weight: bold;
}

ul#menu_list > li{
  line-height: 50px;
  padding-left: 20px;
}

ul#menu_list > li > a:link {
  color : black;
  text-decoration: none;
}
ul#menu_list > li > a:visited {
  color : black;
  text-decoration: none;
}
ul#menu_list > li > a:hover {
  color : black;
  text-decoration: none;
}
ul#menu_list > li > a:active {
  color : #000000;
  text-decoration: none;
}
ul#menu_list > li > a:hover{
  color:#9296F0;
}


div#menu_close { 
  width: 25px; 
  height: 25px; 
  position: absolute; 
  top: 15px; 
  right: 15px;
  cursor: pointer;
  font-size: x-large;
  color:gray;
}
#btn_menu_close{
  position:relative;
  left:6px;
}




/*  물결버튼 */
a#btn_scroll_top{
	width:44px;
	height:48px;
	position:fixed;
	top:75%;
	left:92%;
	z-index:20;
}
@media screen and (max-width: 768px){
	a#btn_scroll_top{
		top:75%;
		left:87%;
		z-index:20;
    }
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 7px solid #464343;
  border-radius: 100%;
  background: linear-gradient(#3c5aff, #52f2fd);
  transform: translate3d(0, 0, 0);
}

.wave-one {
  width: 150%;
  height: 150%;
  position: absolute;
  top: -65%;
  left: -30%;
  border-radius: 45%;
  background: rgba(3,169,244,0.8);
  animation: move 3s infinite linear;
}

.wave-two {
  width: 170%;
  height: 170%;
  position: absolute;
  top: -90%;
  left: -30%;
  border-radius: 45%;
  background: rgba(34,79,242,0.8);
  animation: move 5s infinite linear;
}

.wave-three {
  width: 170%;
  height: 170%;
  position: absolute;
  top: -100%;
  left: -30%;
  border-radius: 45%;
  background: #1d074b;
  border: 6px solid rgba(131,119,152,0.7);
  animation: move 7s infinite linear;
}

.wave-four {
  width: 170%;
  height: 170%;
  position: absolute;
  top: -100%;
  left: -30%;
  border-radius: 46%;
  background: linear-gradient(rgba(252,251,232,0.1) 10%,                  transparent);
  animation: move 7s infinite linear;
}

@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}


/* moon css & animation */
.fa-moon {
  position: absolute;
  top: 19%;
  left: 33%;
  font-size: 4pt;
  color: rgba(255,255,255,0.8);
  animation: moon-rotation 4s infinite linear;
  width:20px;
  height:20px;
}

.blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

@keyframes moon-rotation {
  0%, 100% {
    transform: rotate(0deg);
   }
  50% {
    transform: rotate(-20deg);
  }
}



/* 물결버튼 */


.fa-asterisk {
  position: absolute;
  font-size: 13px;
}

.star1 {
  top: 10%;
  right: 20%;
  animation: star-one 1.2s infinite;
  color:white;
}
      
.star2 {
  top: 15px;
  left: 7px;
  animation: star-two 1.7s infinite;
  color:white;
}
      
.star3 {
  top: 20px;
  left: 45px;
  animation: star-three 1.5s infinite;
  color:white;
}
      
.star4 {
  top: 5px;
  right: 40px;
  font-size: 5px;
  animation: star-five 1.9s infinite;
  color:white;
}

.star5 {
  top: 17px;
  right: 90px;
  font-size: 5px;
  animation: star-five 2s infinite;
  color:white;
}


@keyframes star-one {
  0%, 100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
    
@keyframes star-two {
  0%, 100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
    
@keyframes star-three {
  0%, 100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
    
@keyframes star-four {
  0%, 100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes star-five {
  0%, 100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
