
div.container > table > thead > tr > th{
  border-top:0;
}

div.container > table > thead > tr:nth-child(2){
  color:white;
  font-weight:bold;
}


button#search{
  width:70px;
  height:35px;
}
button#btn_delete{
  width:100px;
  height:35px;
}
button#delete:hover{
  background-color:black;
  color:white;
}

input#searchWord{
  width:200px;
  height:40px;
  border:none;
}
input#searchWord:focus { 
	outline: none; 
}
div#memberIdSearch{
  border:solid 2px black;
  
}
div#search_btn{
  height:100%;
  border-left: solid 2px black;
}
input#userid::placeholder{
  color:darkgray;
  font-size: small;
  position:relative;
}
select#searchType{
  width:120px;
}
select#searchType:focus{
	outline:none;
}


li.active > a, 
li.active:hover , 
li.active > a:hover, 
li.active:focus , 
li.active > a:focus, 
li.active:focus   {
  background: black !important;
  border-color:black !important;
  color: white !important;
}
div#date_button{
	display:none;
}



