@media (max-width: 768px) {
	.sidebar {
		display: none;
	}
	#footer {
		display: none;
	}
}

@media (max-width: 500px) {
	.out {
        display: none;
	}
}

@media (min-width: 768px) {
	#myPageFooter {
		display: none;
	}
}